<%= form.group :type => :fieldset, :legend => t('ubiquo.auth.role_new') do %>
  <%= form.text_field :name %>
  <% fields_for 'permission' do |pf| -%>
    <% @permissions.each do |permission| -%>
    <label for="<%= "permission_#{permission.key}"%>"><%= permission.name %></label>
    <%= check_box_tag("permissions[]", permission.key,
          @role.has_permission?(permission),
          { :id=>"permission_#{permission.key}", :class => "checkbox" }) %>
    <% end %>
  <% end %>
<% end %>
